In [10]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect('C:/Users/Pccoe/Desktop/sample.db')
cur = con.cursor()



# Create the 'employee' table with the correct schema
cur.execute('''CREATE TABLE IF NOT EXISTS employee (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                age INTEGER,
                position TEXT
            )''')

# Insert sample data into the 'employee' table
cur.execute("INSERT INTO employee (name, age, position) VALUES ('Rohan', 22, 'staff')")
cur.execute("INSERT INTO employee (name, age, position) VALUES ('Athrav', 25, 'clerk')")
cur.execute("INSERT INTO employee (name, age, position) VALUES ('Mehul', 20, 'software-tester')")

# Commit the changes to the database
con.commit()

# Query the data to ensure it's correctly inserted
cur.execute("SELECT * FROM employee")
rows = cur.fetchall()

# Display the results
for row in rows:
    print(row)

# Close the connection to the database
con.close()

(1, 'Rohan', 22, 'staff')
(2, 'Athrav', 25, 'clerk')
(3, 'Mehul', 20, 'software-tester')
(4, 'Rohan', 22, 'staff')
(5, 'Athrav', 25, 'clerk')
(6, 'Mehul', 20, 'software-tester')

In [5]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('C:/Users/Pccoe/Desktop/sample.db')

# Query the data from the 'employee' table
query = "SELECT * FROM employee"
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

   id    name  age            grade
0   1   Rohan   22            staff
1   2  Athrav   25            clerk
2   3   Mehul   20  software-tester